apigateway/src/main/resources/wsdl/payment.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.payment.theatre.iwom.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PaymentServiceService" targetNamespace="http://service.payment.theatre.iwom.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.payment.theatre.iwom.com/" elementFormDefault="unqualified" targetNamespace="http://service.payment.theatre.iwom.com/" version="1.0">

            <xs:element name="fetchPayments" type="tns:fetchPayments"/>

            <xs:element name="fetchPaymentsResponse" type="tns:fetchPaymentsResponse"/>

            <xs:complexType name="fetchPayments">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="fetchPaymentsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:paymentDetails"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType final="extension restriction" name="paymentDetails">
                <xs:sequence>
                    <xs:element name="limit" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element name="total" type="xs:int"/>
                    <xs:element name="userId" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="fetchPaymentsResponse">
        <wsdl:part element="tns:fetchPaymentsResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="fetchPayments">
        <wsdl:part element="tns:fetchPayments" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PaymentService">
        <wsdl:operation name="fetchPayments">
            <wsdl:input message="tns:fetchPayments" name="fetchPayments">
            </wsdl:input>
            <wsdl:output message="tns:fetchPaymentsResponse" name="fetchPaymentsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PaymentServiceServiceSoapBinding" type="tns:PaymentService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="fetchPayments">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="fetchPayments">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="fetchPaymentsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PaymentServiceService">
        <wsdl:port binding="tns:PaymentServiceServiceSoapBinding" name="PaymentServicePort">
            <soap:address location="http://localhost:8010/soap-api/service/payment"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>